<html>
  <head>
    <title>Threatmonitor Suite - Dashboard</title>
    <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen">
    <script src="js/react.js"></script>
    <script src="js/JSXTransformer.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/marked.min.js"></script>
    <script src="js/jsapi.js"></script>
    <script src="js/chartkick.js"></script>
  </head>
  <body>
    <h3>Main View</h3>
    
    <div id="content">
      <%= pie_chart @rowusrcnt2, id: "content", height: "500px" %>
    </div>
    <script type="text/jsx">
    
    </script>
  </body>
</html>
